<section class="bg-white py-lg border-y border-outline-variant">
  <div class="max-w-container-max mx-auto px-gutter">
    <div class="flex flex-col md:flex-row items-center justify-between gap-lg">

      <div class="flex flex-col items-center md:items-start text-center md:text-left" appReveal>
        <p class="text-xs font-bold text-secondary uppercase tracking-widest mb-2">Contamos con acreditaciones oficiales del</p>
        <img
          alt="Instituto Español de Analistas"
          class="h-20 w-auto"
          src="https://lh3.googleusercontent.com/aida/AP1WRLs3HKJUNG7_u6TUQoGSWdoVzR41e1fVqE0nH0_0AC9P98QA2FNFmrqpRP8PiRgB2payIm3sdgMUhRITTqJVof2NwVXvSmbTu0yxIVDy_SH8JnCJ1--JGSgzOrlJ3_nDzHLJ--s3yqUkyKh7PXVxH0TdT78X1XXuaZfrmLuxpPz9ugmV0xTNtoBvgMiQFNZzDS6BbfSEe2REANye5NM29cvLKSI4E1-2unJdgYPNgT-DgNnRddyDGujfK4w"
        />
      </div>

      <div class="h-px w-20 bg-outline-variant hidden md:block"></div>

      <div class="flex flex-col items-center md:items-start text-center md:text-left" appReveal style="transition-delay: 100ms;">
        <h3 class="font-bold text-primary text-sm uppercase">Certificados por el Banco de España</h3>
        <p class="text-xs text-secondary">Intermediario de Crédito Inmobiliario Nº E418</p>
      </div>

    </div>
  </div>
</section>
